body{
    height: 1000px;
    background: #1B1A17;
}
.p1
{
    color: #E45826;
    text-shadow: #F0A500 1px 0 10px;
    position: static;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
*
{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.DP
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: top;
}
.DP img
{
    height: 300px;
    width: 300px;
    display: flex;
    border-radius: 100%;
    border: 5px solid #1B1A17;
}
