/*The back of the website*/
body{
    height: 1000px;
    background: #373A40;
}
/*Top Right corner words*/
  
  .glow-text {
    color: #DC5F00;
    text-shadow: #686D76 1px 0 10px;
    position: static;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    animation-name: Fadein;
    animation-duration: 5s;
    transition: text-shadow 0.3s ease, color 0.3s ease;
  }
  
  .glow-text:hover {
    text-shadow: #EEEEEE 1px 0 20px;
  }
/*Keyframes for animation*/
@keyframes Fadein 
{
    0%{color: #1B1A17;}
    25%{color: #E45826;}
}
/*Boarder of the website*/
*
{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
/*Profile pic*/
.DP
{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: left;
    align-items: top;
    
}
/*Rounding the square profile pic*/
.DP img
{
    height: 200px;
    width: 200px;
    display: flex;
    border-radius: 100%;
    animation-name: ImgFadein;
    animation-duration: 5s;
    margin-left: auto;
    margin-right: auto;
}
/*Profile ImgFadein*/
@keyframes ImgFadein
{
    0%{opacity: 0%;}
    50%{opacity: 50%;}
    100%{opacity: 100%;}
}
.Edubutton {
    background-color: #201f1c; /* Green */
    border: none;
    color: #1B1A17;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 1px 1px;
    transition-duration: 1s;
    cursor: pointer;
    border-radius: 5%;
  }
.EdubuttonH:hover
{
    background-color: #ffffff;
}
/*Buttons to show education bring a page below the button i.e is a file animation*/
